@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap");

:root {
  /* <fonts> */
  --fonte-principal: "inter", arial;
  --fonte-destaque: "Young Serif", arial;
  --negrito-forte: 700;
  --negrito-leve: 600;
  /*--- fonts ---*/
  /* <color> */
  --principal-bg-color: #fff;
  --secundaria-bg-color: #f4f4f4;
  --principal-border-color: #c3c3c3;
  /*--- color --- */
  /* <border> */
  --radius-leve: 10px;
  --radius-acentuada: 25px;
  /*--- border --- */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background: var(--principal-bg-color);
}
/* <LOGIN/INDEX PAGE> */
.area-login {
  padding: 2em;
  width: 100%;
  max-width: 350px;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-leve);
  background: var(--secundaria-bg-color);
}

/* <LOGIN/INDEX PAGE - AREA LOGO> */
.area-login-logo {
  text-align: center;
  margin: 1em auto;
}
.area-login-logo img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-acentuada);
}
.area-login-logo h1 {
  font-size: 2em;
  font-family: var(--fonte-destaque);
}
/*--- LOGIN/INDEX PAGE - AREA LOGO ---*/

/* <LOGIN/INDEX PAGE - FORM> */
.area-login-form {
  text-align: center;
}
.area-login-form > input,
.area-login-form > button {
  display: block;
  margin: 1em auto;
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-leve);
  font-size: 1em;
}
.area-login-form input {
  padding-left: 3em;
}
.area-login-form input[name="user"] {
  background: url("../img/icons/user-solid-full.svg") no-repeat left center;
}
.area-login-form input[name="password"] {
  background: url("../img/icons/lock-solid-full.svg") no-repeat left center;
}
.area-login-form button {
  transition: all 0.2s;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 87%,
    rgba(87, 199, 133, 1) 87%
  );
}
.area-login-form button:hover {
  font-weight: var(--negrito-forte);
  box-shadow: 5px 5px 10px rgba(54, 104, 75, 0.507);
  background: #57c785;
}

/*--- LOGIN/INDEX PAGE - FORM ---*/

/*--- LOGIN/INDEX PAGE ---*/

/* <HOME PAGE> */

/* <AREA HEADER> */
.home-area-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--principal-border-color);
}
.home-area-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 900px;
}
.home-area-header-content h1{
  font-family: var(--fonte-destaque);
}
.home-area-header-content figure {
  padding-top: 5px;
}
.home-area-header-content img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/*--- AREA HEADER ---*/


/* <AREA MAIN> */
.home-area-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-leve);
}

/* <AREA MAIN CARDS> */
.home-area-main-sec-card {
  width: 100%;
  max-width: 200px;
  height: 100px;
  padding: 1em;
  transition: all .2s;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-acentuada);
  background: var(--secundaria-bg-color);
}
.home-area-main-sec-card:hover{
  box-shadow: 5px 5px 10px;
  background: #bdecff;
}
.home-dados {
  overflow-wrap: break-word;
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: var(--negrito-forte);
  width: 100%;
  text-align: center;
}
/*--- AREA MAIN CARDS ---*/
/* <AREA MAIN PANEL> */
.home-area-main-panel{
  display: none;
  padding: 1em;
  width: 100%;
  height: 350px;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-leve);
}
.home-area-main-panel.ativo{
  display: block;
}
.home-area-main-panel table{
  width: 100%;
  border-collapse: collapse;
}
.home-area-main-panel-table-container{
  margin-top: 10px;
  width: 100%;
  height: 100%;
  max-height: 280px;
  overflow-y: scroll;

}
.home-area-main-panel th {
  padding: 1em;
  border-bottom: 1px solid var(--principal-border-color);
}
.home-area-main-panel td{
  padding: 5px;
  text-align: center;
  font-size: 1em;
  border-bottom: 1px solid var(--principal-border-color);
}
.home-area-main-panel td:nth-child(1){
  text-align: left;
}
.home-area-main-panel-nav{
  display: flex;
  justify-content: space-between;
}
.home-area-main-panel-nav button,
.home-area-main-panel-nav input{
  padding: 0.5em;
  border-radius: var(--radius-leve);
}
.home-area-main-panel-nav input{
  padding-right: 2em;
  background: url('../img/icons/magnifying-glass-solid-full.svg') no-repeat right center;
}
.home-area-main-panel-nav button {
  padding-left: 2.2em;
  font-family: var(--fonte-destaque);
  background: url('../img/icons/book-solid-full.svg') no-repeat left center;
}
.home-area-main-panel-nav button:hover {
  font-weight: var(--negrito-forte);
  box-shadow: 2px 2px;
}
.home-area-main-panel-nav-dados {
  font-size: 1.5em;
  font-weight: var(--negrito-leve);
}

/*--- AREA MAIN PANEL ---*/
/*--- AREA MAIN ---*/

/*--- HOME PAGE ---*/