@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap");

:root {
  /* <fonts> */
  --fonte-titulos-inputs: "inter", arial;
  --fonte-principal: "Young Serif";
  /*--- fonts ---*/
  /* <color> */
  --principal-bg-color: #fff;
  --secundaria-bg-color: #f4f4f4;
  --principal-border-color: #c3c3c3;
  /*--- color --- */
  /* <border> */
  --radius-leve: 10px;
  --radius-acentuada: 25px;
  /*--- border --- */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-titulos-inputs);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  background: var(--principal-bg-color);
}
/* <LOGIN/INDEX PAGE> */
.area-login {
  padding: 2em;
  width: 100%;
  max-width: 350px;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-leve);
  background: var(--secundaria-bg-color);
}

/* <LOGIN/INDEX PAGE - AREA LOGO> */
.area-login-logo {
  text-align: center;
  margin: 1em auto;
}
.area-login-logo img {
  width: 100px;
  height: 100px;
  border-radius: var(--radius-acentuada);
}
.area-login-logo h1 {
  font-size: 2em;
  font-family: var(--fonte-principal);
}
/*--- LOGIN/INDEX PAGE - AREA LOGO ---*/

/* <LOGIN/INDEX PAGE - FORM> */
.area-login-form {
  text-align: center;
}
.area-login-form > input,
.area-login-form > button {
  display: block;
  margin: 1em auto;
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-leve);
  font-family: var(--fonte-titulos-inputs);
  font-size: 1em;
}
.area-login-form input {
  padding-left: 3em;
}
.area-login-form input[name="user"] {
  background: url("../img/icons/user-solid-full.svg") no-repeat left top;
}
.area-login-form input[name="password"] {
  background: url("../img/icons/lock-solid-full.svg") no-repeat left top;
}
.area-login-form button {
  transition: all 0.2s;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 87%,
    rgba(87, 199, 133, 1) 87%
  );
}
.area-login-form button:hover {
  font-weight: 700;
  box-shadow: 5px 5px 10px rgba(54, 104, 75, 0.507);
  background: #57c785;
}

/*--- LOGIN/INDEX PAGE - FORM ---*/

/*--- LOGIN/INDEX PAGE ---*/

/* <HOME PAGE> */

.home-area-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
  width: 100%;
  max-width: 700px;
  border: 1px solid #000;
  border-radius: var(--radius-leve);
}

.home-area-main h1 {
  font-family: var(--fonte-titulos-inputs);
}

.home-area-main-sec-card {
  width: 100%;
  max-width: 250px;
  height: 200px;
  padding: 1em;
  text-align: center;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-acentuada);
  background: var(--secundaria-bg-color);
}
.home-dados {
  overflow-wrap: break-word;
  padding: 0.5em;
  font-family: var(--fonte-principal);
  font-size: 3em;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.home-area-header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-area-header figcaption {
  font-family: var(--fonte-principal);
  font-size: 1.5em;
}
.home-area-user img {
  width: 90px;
  height: 90px;
  border: 1px solid var(--principal-border-color);
  border-radius: var(--radius-acentuada);
}
.home-area-user {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
}

/*--- HOME PAGE ---*/
