<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/themes.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/models.css" />
    <link rel="stylesheet" href="/css/state.css" />
    <title>Bibi</title>
  </head>
  <body>
    <div class="l_structure-home">
      <picture class="l_logo">
        <img src="/img/logo.png" alt="system logo" class="logo" />
      </picture>
      <aside class="l_aside">
        <nav>
          <button class="btn_aside_nav" onclick="">Cadastros</button>
          <button class="btn_aside_nav" onclick="">Livros</button>
          <button class="btn_aside_nav" onclick="">Leitores</button>
          <button class="btn_aside_nav" onclick="">Empréstimos</button>
        </nav>
      </aside>
      <main class="l_main">
        <section class="section" id="regPanel">
          <h1>Registrar Livro/Leitor</h1>
          <nav class="nav_main">
            <button btn_main_nav id="navRegBooks">LIVROS</button>
            <button btn_main_nav id="navRegReaders">LEITOR</button>
          </nav>
          <!-- REGISTER BOOK -->
          <form
            action="/books/registerBook"
            method="post"
            class="form"
            id="formBooks"
          >
            <input type="text" name="title" placeholder="titulo" required />
            <input type="text" name="author" placeholder="autor" required />
            <select name="category" id="" required>
              <option value="" disabled selected>Categoria</option>
              <option value="academic">acadêmico</option>
              <option value="drama">drama</option>
              <option value="fiction">ficção</option>
              <option value="poetry">poesia</option>
              <option value="comic">quadrinhos</option>
              <option value="romance">romance</option>
              <option value="terror">terror</option>
            </select>
            <input
              type="number"
              name="quantity"
              min="0"
              max="999"
              placeholder="quantidade(digite um valor de 0 a 999)"
            />
            <input type="submit" value="cadastrar" />
          </form>
          <!-- -------------------- -->
          <!-- REGISTER READER -->
          <form
            action="/readers/registerReader"
            method="post"
            class="form hide"
            id="formReaders"
          >
            <input type="text" name="name" placeholder="nome" required />
            <input type="email" name="email" placeholder="email" required />
            <select name="role" id="" required>
              <option value="" disabled selected>função</option>
              <option value="student">estudante</option>
              <option value="teacher">professor(a)</option>
              <option value="principal">diretor</option>
              <option value="doorman">porteiro</option>
              <option value="coordinator">coordenador(a)</option>
              <option value="secretary">assistente administrativo</option>
              <option value="caretaker">zelador</option>
            </select>
            <input type="submit" value="cadastrar" />
          </form>
          <!-- -------------------- -->
        </section>
        <section class="section hide"></section>
        <section class="section hide"></section>
        <section class="section hide"></section>
      </main>
    </div>
    <script src="/javascript/spa.mjs">
      //spa script
    </script>
  </body>
</html>
