<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibi</title>
</head>
<body>
    <main>
        <form action="/books/registerBook" method="post">
            <input type="text" name="title" placeholder="titulo" required>
            <input type="text" name="author" placeholder="autor" required>
            <select name="category" id="">
                <option value="">Categoria</option>
                <option value="poetry">poesia</option>
            </select>
            <input type="number" name="quantity" placeholder="quantidade">
            <input type="submit" value="cadastrar">
        </form>
    </main>
</body>
</html>