.logo {
  width: 100px;
  height: 100px;
}
.nav_main {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.nav_main button {
  width: 45%;
  font-size: 1em;
  border: var(--border-input);
}
.btn_aside_nav {
  display: block;
  width: 100%;
  height: 80px;
  border: none;
  font-size: 1.3em;
}
.form {
  width: 500px;
  padding: 1em;
  border: var(--border);
  border-radius: var(--radius-medium);
}
.form input,
.form select {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: var(--radius-light);
  border: var(--border-input);
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
  height: 100%;
}
